* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding: 14px;
}

article {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 1000px;
    position: relative;
}

ul {
    display: flex;
    top: 0px;
    z-index: 10;
    padding-bottom: 14px;
}

li {
    list-style: none;
    flex: 1;
}

    li:last-child {
        border-right: 1px solid #DDD;
    }

button {
    width: 100%;
    border: 1px solid #DDD;
    border-right: 0;
    border-top: 0;
    padding: 10px;
    background: #FFF;
    font-size: 14px;
    font-weight: bold;
    height: 60px;
    color: #999
}

li.active button {
    background: #F5F5F5;
    color: #000;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th {
    background: #F5F5F5;
    display: none;
}

td, th {
    height: 53px
}

td, th {
    border: 1px solid #DDD;
    padding: 10px;
    empty-cells: show;
}

td, th {
    text-align: left;
}

    td + td, th + th {
        text-align: center;
        display: none;
    }

    td.default {
        display: table-cell;
    }

.bg-purple {
    border-top: 3px solid #A32362;
}

.bg-red {
    border-top: 3px solid #fc4903;
}

.bg-blue {
    border-top: 3px solid #0097CF;
}

.bg-green {
    border-top: 3px solid green;
}

.sep {
    background: #F5F5F5;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin: 30px 0;
}

.txt-l {
    font-size: 28px;
    font-weight: bold;
}

.txt-2 {
    font-size: 18px;
    margin: 10px 0;
}

.txt-top {
    position: relative;
    top: -9px;
    left: -2px;
}

.tick {
    font-size: 18px;
    color: #2CA01C;
}

.hide {
    border: 0;
    background: none;
}

@media (min-width: 200px) {
    ul {
        display: none;
    }

    td, th {
        display: table-cell !important;
    }

    td, th {
        width: 330px;
    }

        td + td, th + th {
            width: auto;
        }
}


#aa-menu-area {
    left: 0;
    padding-top: 20px;
    position: absolute;
    right: 0;
    top: 35px;
    width: 100%;
    z-index: 99;
}

    #aa-menu-area .main-navbar {
        background-color: transparent;
        border: medium none;
        border-radius: 0;
    }

        #aa-menu-area .main-navbar .navbar-header .navbar-brand {
            padding: 0;
        }

        #aa-menu-area .main-navbar .navbar-header .aa-logo {
            border: 2px solid #fff;
            color: #fff;
            font-family: "Poppins", sans-serif;
            font-size: 30px;
            padding: 15px;
            line-height: 13px;
        }

        #aa-menu-area .main-navbar .navbar-header .aa-logo-img {
            border: none;
            height: 50px;
            width: 235px;
        }

            #aa-menu-area .main-navbar .navbar-header .aa-logo-img img {
                width: 100%;
                height: 100%;
            }

        #aa-menu-area .main-navbar .navbar-nav li a {
            color: #fff;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
        }

        #aa-menu-area .main-navbar .navbar-nav .active a {
            background-color: #FFF;
        }

        #aa-menu-area .main-navbar .navbar-nav .open a {
            background-color: #fff;
        }

        #aa-menu-area .main-navbar .navbar-nav .dropdown-menu {
            border: none;
            border-radius: 0;
            margin-top: 5px;
        }

            #aa-menu-area .main-navbar .navbar-nav .dropdown-menu li a {
                color: #555;
                padding: 8px 10px;
            }

        #aa-menu-area .main-navbar .navbar-right {
            margin-right: -30px;
        }

    #aa-menu-area .navbar-fixed-top {
        background-color: #FFF;
        padding: 15px 0;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

        #aa-menu-area .navbar-fixed-top .navbar-header .aa-logo {
            border: 2px solid #888;
            color: #555;
        }

        #aa-menu-area .navbar-fixed-top .navbar-nav li a {
            color: #555;
        }

/*scrol to top*/

.scrollToTop {
    bottom: 60px;
    color: #fff;
    display: none;
    font-size: 23px;
    height: 50px;
    line-height: 45px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 50px;
    z-index: 999;
}

    .scrollToTop:hover,
    .scrollToTop:focus {
        background-color: #FFF;
        text-decoration: none;
        outline: none;
    }

Preloader
#aa-preloader-area {
    background-color: #F8F8F8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.pulse {
    left: 47%;
    position: relative;
    top: 44%;
}

    .pulse:before, .pulse:after {
        content: '';
        width: 80px;
        height: 80px;
        border-radius: 500px;
        position: absolute;
    }

    .pulse:before {
        -webkit-animation: pulse-outer 0.8s ease-in infinite;
        -moz-animation: pulse-outer 0.8s ease-in infinite;
        animation: pulse-outer 0.8s ease-in infinite;
    }

    .pulse:after {
        -webkit-animation: pulse-inner 0.8s linear infinite;
        -moz-animation: pulse-inner 0.8s linear infinite;
        animation: pulse-inner 0.8s linear infinite;
    }

@-webkit-keyframes pulse-outer {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    50% {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-moz-keyframes pulse-outer {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    50% {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@keyframes pulse-outer {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    50% {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes pulse-inner {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-moz-keyframes pulse-inner {
    0% {
        -moz-transform: scale(0);
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        -moz-transform: scale(1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@keyframes pulse-inner {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}
